# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Poetry
.venv/
poetry.lock

# Scrapy
.scrapy/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env

# Dataset temporals
dataset/*.tmp
dataset/*.partial
